In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [92]:
dataset = pd.read_csv('./breast cancer/breastdata.csv',names=['id','thickness','size_uniformity',
                                                            'shape_uniformity','adhesion','cellsize',
                                                            'nuclei','chromatin','nucleoli','mitoses',
                                                            'type'])
dataset = dataset.drop('id',axis=1)

In [93]:
dataset.loc[dataset['nuclei']=='?','nuclei'] = np.nan

In [116]:
dataset = dataset.dropna()
dataset['nuclei'] = dataset['nuclei'].astype('int')
dataset.describe()

,thickness,size_uniformity,shape_uniformity,adhesion,cellsize,nuclei,chromatin,nucleoli,mitoses,type
count,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,2.699854
std,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.954592
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [117]:
data = dataset.drop('type',axis=1).to_numpy()
label = dataset['type'].to_numpy()

In [118]:
label[label==2]=-1
label[label==4]=1

In [119]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [120]:
X_train,X_test,Y_train,Y_test = train_test_split(data,label,test_size=0.30,stratify=label)

In [121]:
svm_model = SVC(C=1.0,kernel='linear')

In [122]:
svm_model.fit(X_train,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [123]:
prediction = svm_model.predict(X_test)

In [124]:
from sklearn.metrics import confusion_matrix,classification_report

In [125]:
CM = confusion_matrix(Y_test,prediction)
accuracy = (CM[0][0]+CM[1][1])/(np.sum(CM))
precision = (CM[0][0])/(CM[0][0]+CM[1][0])
print(CM)
print(accuracy)
print(precision)

[[129   4]
 [  3  69]]
0.9658536585365853
0.9772727272727273

In [126]:
print(classification_report(Y_test,prediction))

              precision    recall  f1-score   support

          -1       0.98      0.97      0.97       133
           1       0.95      0.96      0.95        72

   micro avg       0.97      0.97      0.97       205
   macro avg       0.96      0.96      0.96       205
weighted avg       0.97      0.97      0.97       205